{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.prometheus/simpleclient {:mvn/version "0.16.0"}
        io.prometheus/simpleclient_common {:mvn/version "0.16.0"}
        io.prometheus/simpleclient_pushgateway {:mvn/version "0.16.0"}
        io.prometheus/simpleclient_hotspot {:mvn/version "0.16.0"}}}
